@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@*Д.З. "Реєстрація"
- Забезпечити валідацію полів форми - Email, Login
   (опціонально інші) на відповідність шаблонам.
- При завантаженні файла-аватарки контролювати
   перелік дозволених розширень (типів) файлів
- У самій формі розподілити повідомлення про помилки
   (за їх відсутності відзначати поля "зеленим")
- За наявності хоча б однієї помилки відновлювати
   введені раніше дані у полях Email, Login, Name
   За відсутності помилок дані не відновлювати
* Реалізувати форму для входу в систему на модальному
   вікні автентифікації*@