html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.nav-avatar {
    max-height: 50px;
    max-width: 50px;
    border-radius: 50%;
}
.drop-color {
    background-color: white !important;
    border:hidden;
}

.drop::after {
    border-top: 0.3em solid #808080;
}